@page
@model TrippyWeb.Pages.Messages.IndexModel

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<partial name="../Shared/_Toast" />

<div class="row align-items-center mb-3">
    <div class="col-auto">
        <h1>Trip Chat</h1>
    </div>
    <div class="col-auto ms-auto">
        <a asp-page="Create" asp-route-tripId="@Model.TripID" method="post" class="btn btn-primary mx-auto"><i class="bi bi-plus-circle"></i> Add message</a>
    </div>
</div>
<table class="table table-hover table-light align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageList[0].CreatedDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageList[0].UserName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageList[0].Content)
            </th>
            <th scope="col">
                <div class="text-end me-1">Actions</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <div>ile jest wiadomości: @Model.MessageList.Count</div>
        @foreach (var item in Model.MessageList)
        {
            <tr>
                <th scope="row">@i</th>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <div class="d-flex flex-wrap justify-content-end">
                        <a asp-page="./Delete" asp-route-id="@item.MessageID" class="btn btn-danger m-1"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i
                            class="bi bi-trash"></i><span class="d-none d-md-inline"> Delete</span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
